*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

html{
	max-width: 100vw;
	overflow-x: hidden;
	min-height: 100%;
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
	position: relative;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;

}

.container{
	width: 100%;
	max-width: 1229px;
	@include mh(auto);
	@include ph(15px);
}

.section_pb_md {
	padding-bottom: 100px;
}

.flex-br{
	display: block;
	width: 100vw;
}

.affix{
	position: fixed !important;
	top: 0;
	z-index: 50 !important;
}

html.overflow-hidden{
	&,
	body{
		overflow: hidden;
	}
}

.overlay-active .overlay,
.overley-second {
	display: block;
	@include size(100vw, 100vh);
	background-color: rgba(0, 0, 0, .2);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 55;
}

.hide {
	display: none;
}

.block {
	overflow: hidden;
}
