
.title{
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 139.9%;
	color: #5A5A5A;
	text-transform: uppercase;
	margin-top: 0;
}

.subtitle {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 139.9%;
	color: #6D6D6D;
}

.html-area{
	a{

	}
	ul{
		li{

		}
	}
	p{

	}
	span{
		
	}
	h1,
	h2,
	h3,
    h4,
	h5,
	h6{
	}
	h1{
	}
	h2{
	}
	h3{
	}
	h4{

	}
	h5{
	}
	h6{
	}
}


@media (max-width: 768px) {
	.title {
		font-size: 27px;
		text-align: center;
	}
}

@media (max-width: 576px) {
	.title {
		font-size: 24px;
		text-align: center;
	}
	.subtitle {
		text-align: center;
		font-size: 16px;
	}
}








