// черновики
.btn{
	display: inline-block;
	border: none;
	user-select: none;
	outline: none !important;
	text-decoration: none;
	// padding: 20px 75px;
	min-height: 56px;
	width: 252px;
	background: linear-gradient(90deg, #F27A54 -21.05%, #A154F2 121.05%);
	border-radius: 30px;
	color: #ffffff;
	font-weight: bold;
	font-size: 13.25px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	transition: all .4s ease;
	&_full-width{
		display: block;
		width: 100%;
	}

	&:focus,
	&:active{
		
	}
	&:hover{
		cursor: pointer;
		box-shadow: 0px 0px 2px 2px #F27A54;
	}
	&_size_sm{
		//меньше чем базовая
	}
	&_size_xl{
		//больше чем базовая
	}
}


.input{
	border-radius: 6px;
	background-color: #ffffff;
	@include size(100%, 56px);
	border-radius: 2px;
	@include ph(15px);
	border: 1px solid #BFBFBF;
	&:focus,
	&:active,
	&:hover{
		outline: none;
		//box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
	}
	&::placeholder {
		color: #BFBFBF;
		font-size: 16px;
		line-height: 22px;
	}
	&_error{
		border-color: #ff0000;
	}
	// отключение стрелочек у type=number
	&[type=number]::-webkit-outer-spin-button,
	&[type=number]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.textarea{
	@extend .input;
	@include pv(12px);
	height: auto;
	&_resize-off,
	&_resize-none{
		resize: none;
	}
}


.radio{
	display: block;
	position: relative;
	margin-bottom: 16px;
	cursor: pointer;
	user-select: none;
	&__name{
		color: #33444e;
		font-size: 16px;
		font-weight: 400;
		line-height: 17px;
		position: relative;
		top: -2px;
	}
	&__input{
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
	&__view{
		display: inline-block;
		@include size(14px);
		margin-right: 14px;
		border-radius: 50%;
		position: relative;
		background-color: red;
	}

	&__input:checked ~ #{&}__view{
		&:after{
			content: '';
			display: block;
			@include size(20px);
			border: 2px solid red;
			border-radius: 50%;
			position: absolute;
			top: -5px;
			left: -5px;
		}
	}
}



/*
.switcher{
	position: relative;
	display: inline-block;
	@include size(32px, 19px);
	&__input{
		opacity: 0;
		width: 0;
		height: 0;
		z-index: -1;
		position: relative;
	}
	&__slider{
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: .4s;
		border-radius: 10px;
		background-color: #cccccc;
		&:before{
			content: "";
			@include size(15px);
			position: absolute;
			left: 2px;
			bottom: 2px;
			border-radius: 50%;
			background-color: #fff;
			transition: .4s;
		}
	}
	&__input:checked + #{&}__slider{
		background-color: $color_base;
		&:before{
			transform: translateX(13px);
		}
	}
}
*/

/*.checkbox{
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 16px;
	cursor: pointer;
	user-select: none;
	&__name{
		color: #33444e;
		font-size: 16px;
		font-weight: 400;
		line-height: 17px;
		position: relative;
		top: 3px;
		word-break: break-word;
	}
	input{
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
	&__view{
		@include size(21px);
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid #ddd;
		background-color: #fff;
		&:after{
			content: "";
			display: block;
			@include size(4px, 9px);
			position: absolute;
			left: 7px;
			top: 3px;
			border: solid #fff;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
		}
	}
	input:checked ~ &__view{
		border-color: red;
		background-color: blue;
	}
}*/













