footer.footer#footer
	.container
		.footer__content
			a(href="/").footer__logo.logo
				img(src="/img/logo.png", alt="Логотип")
			nav.footer__menu.footer__menu_col.menu
				ul.menu__list
					li.menu__item
						a(href="#course").menu__link курсы
					li.menu__item
						a(href="#what").menu__link Наши отличия
					li.menu__item
						a(href="#nutrition").menu__link Питание и упражнения
				ul.menu__list
					li.menu__item
						a(href="#v-gallery").menu__link Видео о нас
					li.menu__item
						a(href="#expert").menu__link Эксперты

			.footer__contact
				button.btn.footer__btn#openModal(type="button") Оставить заявку
		.footer__info
			.footer__phone.phone
				i.site-link__ico
					<svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.716 10.502c-.98 0-1.941-.153-2.853-.454a1.348 1.348 0 00-1.079.12c-.137.082-.253.196-.38.292-.98.74-2.332.882-3.305.133a9.157 9.157 0 01-1.584-1.55c-.836-1.045-.675-2.522.13-3.591.342-.342.464-.842.317-1.31a9.098 9.098 0 01-.456-2.858C5.506.576 4.93 0 4.222 0H1.284C.576 0 0 .576 0 1.284 0 9.398 6.602 16 14.716 16c.708 0 1.284-.576 1.284-1.284v-2.93c0-.708-.576-1.284-1.284-1.284z" fill="url(#paint0_linear)"/><defs><linearGradient id="paint0_linear" x1="-3.368" y1="8" x2="19.369" y2="8" gradientUnits="userSpaceOnUse"><stop stop-color="#F27A54"/><stop offset="1" stop-color="#A154F2"/></linearGradient></defs></svg>
				a(href="tel:88005553535").phone__link +7 (800) 555 - 35 - 35
			.footer__link.site-link
				i.site-link__ico
					<svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0C3.589 0 0 3.589 0 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zM2.217 11.304a2.436 2.436 0 001.416-.677c1.09-1.089.393-1.84 1.062-2.664.166-.196.454-.448.884-.534a3.092 3.092 0 002.46-3.042c0-.781.091-1.838-.725-3.018a6.634 6.634 0 012.595.247 5.296 5.296 0 00.689 3.47c1.066 1.76 2.788 1.391 3.852 1.263.12.471.192.96.206 1.465-1.819-.523-1.779 1.629-3.197 1.07-3.856-1.557-6.574 2.549-3.965 5.757a6.668 6.668 0 01-5.277-3.337z" fill="#000"/><path d="M8 0C3.589 0 0 3.589 0 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zM2.217 11.304a2.436 2.436 0 001.416-.677c1.09-1.089.393-1.84 1.062-2.664.166-.196.454-.448.884-.534a3.092 3.092 0 002.46-3.042c0-.781.091-1.838-.725-3.018a6.634 6.634 0 012.595.247 5.296 5.296 0 00.689 3.47c1.066 1.76 2.788 1.391 3.852 1.263.12.471.192.96.206 1.465-1.819-.523-1.779 1.629-3.197 1.07-3.856-1.557-6.574 2.549-3.965 5.757a6.668 6.668 0 01-5.277-3.337z" fill="url(#paint0_linear)"/><defs><linearGradient id="paint0_linear" x1="0" y1="8" x2="16" y2="8" gradientUnits="userSpaceOnUse"><stop stop-color="#F27A54"/><stop offset="1" stop-color="#A154F2"/></linearGradient></defs></svg>
				a(href="/").site-link__link fitgo.ru
