header.header#header
	.container
		.header__content
			a(href="/").header__logo.logo
				img(src="/img/logo.png", alt="Логотип")
			nav.header__menu.menu
				ul.menu__list.menu__list_inline.js--menu-active
					li.menu__item.menu__item_status_active
						a(href="#course").menu__link курсы
					li.menu__item
						a(href="#what").menu__link Наши отличия
					li.menu__item
						a(href="#nutrition").menu__link Питание и упражнения
					li.menu__item
						a(href="#v-gallery").menu__link Видео о нас
					li.menu__item
						a(href="#expert").menu__link Эксперты
			.header__auth.auth
				a(href="#").auth__text В личный кабинет
				button.header__mobile.js--open-menu
					span
				button.btn.auth__btn
					img(src="/img/account_circle.png", alt="Вход в аккаунт")



