include mixins
include variables
block variables

doctype hmtl
html(lang="ru")
	head
		meta(charset="UTF-8")
		- title_page = typeof title ==="undefined" ? 'name' : 'name | '+title
			title #{title_page}
		meta(name="viewport", content="width=device-width initial-scale=1.0")
		block assets
			link(rel="stylesheet", href="css/style.css")
			link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Zilla+Slab&display=swap" rel="stylesheet")

			script(src="js/jquery-3.3.1.min.js")
			script(src="js/jquery.magnific-popup.min.js")
			script(src="js/slick.min.js")
			script(src="js/svg-sprite.js")
			script(src="js/scripts.js")

	body
		include header.pug

		main.main
			block content

		include footer.pug



























