.form {
	&__input {
		&-wrapper {
			margin-bottom: 20px;
		}
	}
	&__btn {
		margin-top: 60px;
		&-wrapper {
			text-align: center;
		}
	}
}

.modal {
	position: fixed; 
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,0.9);
	z-index: 300;
	opacity: 0;
	transition: opacity .4s ease-in;
	pointer-events: none;
	margin: 0;
	padding: 0;
	&__name {
		font-weight: 500;
		font-size: 32px;
		line-height: 139.9%;
		text-align: center;
		text-transform: uppercase;
		color: #6D6D6D;
		margin-bottom: 35px;
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px;
	}
	&__content {
		position: relative;
		transform: translateY(40%);
		max-width: 500px;
		padding-top: 35px;
		padding-right: 75px;
		padding-left: 75px;
		padding-bottom: 71px;
		background: #FFFFFF;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
		border-radius: 20px;
		margin: auto;
		z-index: 900;
	}
	&-active {
		opacity: 1; 
		pointer-events: auto;
		overflow: auto;
	}
	&__close {
		margin-bottom: 38px;
	}
}

.close-btn {
	display: block;
	position: relative;
	margin-left: auto;
	opacity: .5;
	background-color: transparent;
	width: 20px;
	height: 20px;
	border: none;
	user-select: none;
	outline: none !important;
	text-decoration: none;
	&:after {
		display: block;
		content: '';
		position: absolute;
		left: 0;
		width: 19.43px;
		height: 2.59px;
		background: #6D6D6D;
		transform: rotate(135deg);
	}
	&:before {
		display: block;
		content: '';
		position: absolute;
		right: 0;
		width: 19.43px;
		height: 2.59px;
		background: #6D6D6D;
		transform: rotate(45deg);
	}
}

.close-btn:focus, .close-btn:hover {
	cursor: pointer;
	opacity: .75;
}
