.promo {
	position: relative;
	background: linear-gradient(180deg, #FFFFFF 13.75%, rgba(245, 246, 250, 0.64854) 61.11%, rgba(245, 246, 250, 0) 100%), #FFFFFF;
	padding-top: 70px;
	padding-bottom: 95px;
	&__info {
		margin-top: 112px;
	}
	&__content {
		position: relative;
		display: flex;
	}
	&__img {
		margin-left: auto;
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}

.promo-info {
	position: relative;
	z-index: 10;
	&__title {
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 60px;
		line-height: 139.9%;
		text-transform: uppercase;
		background: linear-gradient(90deg, #F27A54 0%, #A154F2 162%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&__descr {
		font-style: normal;
		font-weight: 500;
		font-size: 32px;
		line-height: 139.9%;
		color: #5A5A5A;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 228px;
	}
	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 139.9%;
		text-transform: uppercase;
		color: #5A5A5A;
		margin-right: 29px;
	}
	&__accent {
		font-weight: bold;
		font-size: 32px;
		text-transform: uppercase;
		background: linear-gradient(90deg, #F27A54 0%, #A154F2 162%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&__btn {
		margin-right: 47px;
	}
	&__btn-block {
		display: flex;
		align-items: flex-end;
	}
}

.btn-block {
	height: 100px;
	background-color: #F5F6FA;
	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__link {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 17px 76px;
		background-color: #fff;
		border-radius: 43px;
		transform: translateY(-50%);
	}
	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		text-transform: uppercase;
		color: #5A5A5A;
		margin-bottom: 15px;
	}
	svg {
		fill: #5A5A5A;
		width: 16.03px;
		height: 16.03px;
	}
	&__btn {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		text-transform: uppercase;
		&-wrapper {
			border-radius: 43px;
			border: 15px solid #ffffff;
			transform: translateY(-50%);
		}
	}
}

.course {
	padding-top: 100px;
	padding-bottom: 130px;
	&__subtitle {
		margin-bottom: 62px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-left: -0.85%;
		margin-right: -0.85%;
	}
	&__item {
		margin-right: 0.85%;
		margin-left: 0.85%;
		margin-bottom: 20px;
	}
}

.course-item {
	position: relative;
	border-radius: 10px;
	width: 48.3%;
	&__img {
		position: relative;
		img {
			display: block;
			max-width: 100%;
			height: auto;
			border-radius: 10px;
		}
		&:after {
			display: block;
			position: absolute;
			content: '';
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background: rgba(0,0,0, 0.3);
			border-radius: 10px;
		}
	}
	&__info {
		position: absolute;
		top: 25px;
		left: 40px;
		max-width: 500px;
		z-index: 10;
	}
	&__name {
		font-style: normal;
		font-weight: bold;
		font-size: 26px;
		line-height: 139.9%;
		color: #ffffff;
		margin-bottom: 10px;
	}
	&__descr {
		font-weight: 500;
		font-size: 15px;
		line-height: 139.9%;
		color: #ffffff;
	}
}

.what {
	padding-top: 100px;
	padding-bottom: 120px;
	&__subtitle {
		margin-bottom: 118px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-right: -20px;
		margin-left: -20px;
	}
	&__item {
		margin-right: 20px;
		margin-left: 20px;
		margin-bottom: 20px;
	}
}
.what-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width:33.333%;
	max-width: 238px;
	&__ico {
		margin-bottom: 25px;
	}
	&__name {
		text-align: center;
		font-weight: 500;
		font-size: 20px;
		line-height: 28px;
		color: #5A5A5A;
	}
	&__descr {
		font-family: "Zilla Slab";
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 18px;
		text-align: center;
		color: #6D6D6D;
	}
}

.info-course {
	padding-top: 100px;
	padding-bottom: 51px;
	&__body {
		position: relative;
		display: flex;
		margin-top: 60px;
	}
	&__img {
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	&__footnote {
		text-align: center;
	}
	&__list {
		margin-left: auto;
		margin-top: 48px;
		max-width: 676px;
		padding-left: 80px;
	}
	&__item {
		padding:4px 8px;
		margin-bottom: 33px;
		&:hover {
			transform: translateX(100px);
			.info-course-item__name {
				color: #323232;
			}
			.info-course-item__descr {
				color: #323232;
			}
			.info-course-item__num {
				background: linear-gradient(90deg, rgba(242, 122, 84, 0.5) -21.05%, rgba(161, 84, 242,0.5) 121.05%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
	&__footnote {
		margin-top: 53px;
		font-weight: 600;
		font-size: 16px;
		line-height: 120%;
		color: #6D6D6D;
	}
}
.info-course-item {
	position:relative;
	transition: .4s all ease-in-out;
	cursor: default;
	&__num {
		position:absolute;
		top:-22px;
		left:-74px;
		width: 100px;
		padding:4px 0;
		color: rgba(0, 0 , 0, 0.05);
		font-size: 100px;
		font-weight:bold;
	}
	&__name {
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 120%;
		color: #6D6D6D;

	}
	&__descr {
		font-size: 15px;
		line-height: 120%;
		color: #6D6D6D;
		margin-top: 4px;
		margin-bottom: 4px;
	}

}
.nutrition{
	padding-top: 100px;
	padding-bottom: 142px;
	&__content {
		display: flex;
		position: relative;
	}
	&__subtitle {
		max-width: 741px;
		margin-bottom: 70px;
	}
	&__list {
		display: flex;
	}
	&__img {
		margin-top: 20px;
		margin-right: -55px;
		margin-left: auto;
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}

.nutrition-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: .2s all ease;
	&__text {
		margin-top: auto;
		font-weight: 500;
		font-size: 20px;
		line-height: 28px;
		text-align: center;
		color: #6D6D6D;
	}
	&__img {
		filter: grayscale(100%);
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	&:hover {
		.nutrition-item__img {
			filter: grayscale(0%);
		}
	}
}

.case {
	padding-top: 100px;
	padding-bottom: 113px;
	&__list {
		display: flex;
		align-items: center;
		margin-top: 75px;
		margin-left: -15px;
		margin-right: -15px;
	}
	&__item {
		margin-right: 15px;
		margin-left: 15px;
	}
}

.case-item {
	width: 32.5%;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	opacity: 0.2;
	padding-top: 30px;
	padding-left: 36px;
	padding-right: 46px;
	padding-bottom: 27px;
	&__name {
		position: relative;
		z-index: 1;
		font-weight: bold;
		font-size: 30px;
		line-height: 139.9%;
		text-transform: uppercase;
		text-align: center;
		color: #5A5A5A;
		margin-bottom: 45px;
	}
	&__info {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 1;
	}
	&__price {
		font-weight: 500;
		font-size: 33.265px;
		line-height: 139.9%;
		text-transform: uppercase;
		text-align: center;
		color: #5A5A5A;
		margin-bottom: 15px;
	}
	&__list {
		margin-bottom: 10px;
	}
	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}
	&__text {
		position: relative;
		font-weight: 500;
		font-size: 13.86px;
		line-height: 139.9%;
		text-transform: uppercase;
		color: #5A5A5A;
		margin-left: 17px;
	}
}

.profit {
	width: 35%;
	position: relative;
	opacity: 1;
	padding-top: 50px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 30px;
	overflow: hidden;
	&:after {
		position: absolute;
		content:'';
		background-image: url('/img/profit-item.png');
		height: 250px;
		width: 250px;
		background-repeat: no-repeat;
		background-position: right top;
		top: -13px;
		right: -10px;
		z-index: 0;
	}
	.case-item {
		&__name {
			margin-bottom: 45px;
		}
		&__list {
			margin-bottom: 20px;
		}
		&__item {
			margin-bottom: 23px;
		}
		&__price {
			margin-bottom: 29px;
		}

	}
}

.v-gallery {
	padding-top: 100px;
	padding-bottom: 110px;
	&__content {
		position: relative;
	}
	&__list {
		margin-top: 71px;
		display: flex;
		margin-left: 47px;
		margin-right: 46px;
	}
	&__item {
		margin-right: 7px;
		margin-left: 12px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
	}
	&__descr {
		margin-top: 5px;
		padding: 30px;
		font-weight: 500;
		font-size: 20px;
		line-height: 100%;
		color: #323232;
	}
}

.arrow {
	cursor: pointer;
	&__prev {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		&:hover {
			transform: translateY(-50%) scale(1.1);
		}
		&:active {
			transform: translateY(-50%) scale(1);
		}
	}
	&__next {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		&:hover {
			transform: translateY(-50%) scale(1.1);
		}
		&:active {
			transform: translateY(-50%) scale(1);
		}
	}
}

.play__pulse {
	position: relative;
	&::before,
	&::after {
		display: none;
		content: '';
		position: absolute;
		border: 2px solid #ffffff;
		left: -30px;
		right: -30px;
		top: -30px;
		bottom: -30px;
		border-radius: 50%;
		animation: pulse 1.8s linear infinite;
		opacity: 0;
	}

	&::after {
		animation-delay: .5s;
	}
}

.video {
	display: block;
	position: relative;
	&__content {
		display: block;
		position: relative;
		border-radius: 10px;
	}
	&__img {
		img {
			display: block;
			max-width: 100%;
			height: auto;
			border-radius: 10px;
		}
	}
	&__overlay {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 10px;
		transition: all .2s;
		&:hover {
			background-color: #000000;
			opacity: 0.6;
			.play__pulse {
				opacity: 1;
				&::before,
				&::after {
					display: block;
				}
			}
		}
	}
	&__ico {
		svg {
			width: 74px;
			height: 74px;
			fill: #fff;
		}
	}
}

.null {
	height: 57px;
	background-color: #F5F6FA;
}

.expert {
	padding-top: 100px;
	padding-bottom: 108px;
	&__list {
		display: flex;
		justify-content: space-between;
		margin-top: 100px;
		margin-bottom: 90px;
	}
	&__item {
		display: flex;
		align-items: center;
	}
	&__img {
		margin-right: 70px;
		border-radius: 50%;
		max-width: 170px;
		border: 9px solid #ffffff;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		img {
			display: block;
			max-width: 100%;
			height: auto;
			border-radius: 50%;
		}
	}
	&__name {
		font-weight: 500;
		font-size: 26px;
		line-height: 28px;
		color: #5A5A5A;
		margin-bottom: 15px;
	}
	&__descr {
		font-size: 20px;
		line-height: 28px;
		color: #6D6D6D;
	}
	&__footnote {
		display: flex;
		align-items: center;
	}
	&__text {
		font-size: 20px;
		line-height: 139.9%;
		color: #6D6D6D;
		&_strong {
			font-weight: bold;
		}
	}
	&__social {
		transition: .5s all ease; 
		&_t {
			border-radius: 50%;
			margin-left: 35px;
			margin-right: 25px;
			&:hover {
				box-shadow: 0px 0px 17px 2px rgba(3, 155, 229, 0.8);
			}
		}
		&_w {
			border-radius: 50%;
			margin-right: 35px;
			&:hover {
				box-shadow: 0px 0px 17px 2px rgba(76, 175, 80, 0.8);
			}
		}
	}
}


@media (max-width: 1100px) {
	.promo-info {
		&__title {
			font-size: 35px;
		}
		&__descr {
			font-size: 25px;
			margin-bottom: 150px;
		}
		&__btn-block {
			flex-direction: column;
			align-items: center;
		}
		&__btn {
			margin-right: 0;
			margin-bottom: 10px;
		}
		&__text {
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
	.what {
		&__list {
			justify-content: space-around;
		}
	}
	.info-course {
		&__body {
			flex-direction: column;
			align-items: center;
		}
		&__list {
			margin-right: auto;
		}
	}
	.case {
		&__list {
			flex-direction: column;
		}
		&-item {
			width: 50%;
		}
		&__item:not(:last-child) {
			margin-bottom: 40px;
		}
	}
	.profit {
		width: 60%;
		order: -1;
	}
}

@media (max-width: 768px) {
	.promo-info {
		margin-top: 30px;
		&__descr {
			margin-bottom: 50px;
		}
	}
	.course {
		&__item {
			width: 100%;
		}
	}
	.nutrition {
		&__content {
			flex-direction: column;
		}
		&__img {
			margin-right: auto;
			margin-left: auto;
		}
	}
	.profit {
		width: 60%;
		order: -1;
	}
	.expert {
		&__list {
			flex-direction: column;
			align-items: center;
			margin-top: 20px;
		}
		&__item {
			margin-bottom: 20px;
		}
		&__text {
			font-size: 14px;
		}
	}
}

@media (max-width: 576px) {
	.promo {
		padding-top: 50px;
		padding-bottom: 80px;
		&__img {
			display: none;
		}
		&__info {
			text-align: center;
		}
	}
	.promo-info {
		&__title {
			font-size: 30px;
		}
		&__descr {
			font-size: 16px;
		}
	}
	.course {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.course-item {
		&__info {
			top: 5px;
			left: 5px;
		}
		&__name {
			font-size: 20px;
		}
		&__descr {
			font-size: 14px;
		}
	}
	.what {
		padding-top: 50px;
		padding-bottom: 50px;
		&__subtitle {
			margin-bottom: 50px;
		}
	}
	.what-item {
		width: 80%;
	}
	.info-course {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.nutrition {
		padding-top: 50px;
		padding-bottom: 50px;
		&__subtitle {
			margin-bottom: 30px;
		}
		&__list {
			flex-direction: column;
		}
	}
	.case {
		padding-top: 50px;
		padding-bottom: 50px;
		&__list {
			margin-left: 0;
			margin-right: 0;
		}
		&__item {
			width: 100%;
		}
	}
	.profit {
		width: 100%;
	}
	.v-gallery {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.video {
		&__ico {
			svg {
				width: 40px;
				height: 40px;
			}
		}
	}
	.expert {
		padding-top: 50px;
		padding-bottom: 50px;
		&__list {
			margin-bottom: 30px;
		}
		&__img {
			margin-right: 10px;
		}
		&__footnote {
			flex-direction: column;
			text-align: center;

		}
		&__social {
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 10px;
			&_t {
				margin-top: 10px;
			}
		}
	}
}
