extend include/template1

block variables
	- 
		var title = 'Главная';

block content
	section.promo#promo
		.container
			.promo__content
				.promo__info.promo-info
					h1.promo-info__title Создай фигуру мечты
					h2.promo-info__descr в своем ритме жизни
					.promo-info__btn-block
						button.btn.promo-info__btn#openModal(type="button") ПОПРОБОВАТЬ
						span.promo-info__text Первое занятие
						span.promo-info__accent бесплатно!
				.promo__img
					img(src="/img/promo-girl.png", alt="девушка")
	section.btn-block
		.container
			.btn-block__content
				a(href="#what").btn-block__link
					.btn-block__text Листай ниже
					+icon('arrow_back')


	section.course#course
		.container
			h2.title Варианты курсов
			p.course__subtitle.subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem expedita repellendus harum cupiditate veritatis neque ab, molestiae tempore voluptas suscipit!
			.course__content
				.course__list
					a(href="#").course__item.course-item
						.course-item__img
							img(src="/img/course-1.jpg", alt="превью курса")
						.course-item__info
							.course-item__name 1. Название курса
							p.course-item__descr  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, molestias.
					a(href="#").course__item.course-item
						.course-item__img
							img(src="/img/course-2.jpg", alt="превью курса")
						.course-item__info
							.course-item__name 2. Название курса
							p.course-item__descr  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, molestias.
					a(href="#").course__item.course-item
						.course-item__img
							img(src="/img/course-3.jpg", alt="превью курса")
						.course-item__info
							.course-item__name 3. Название курса
							p.course-item__descr  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, molestias.
					a(href="#").course__item.course-item
						.course-item__img
							img(src="/img/course-4.jpg", alt="превью курса")
						.course-item__info
							.course-item__name 4. Название курса
							p.course-item__descr  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, molestias.
	section.btn-block
		.container
			.btn-block__content
				.btn-block__btn-wrapper
					button.btn.btn-block__btn#openModal(type="button") Попробовать


	section.what#what
		.container
			h2.title Что вы получите?
			p.what__subtitle.subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat fuga, qui fugiat dignissimos ducimus. Necessitatibus expedita sit veritatis, et rerum dignissimos non atque reiciendis assumenda ipsum, in repudiandae officia cupiditate commodi obcaecati quibusdam earum cumque iusto! Ad molestias inventore distinctio?
			.what__content
				.what__list
					.what__item.what-item
						.what-item__ico
							img(src="/img/apple-c.png", alt="яблоко")
						.what-item__name План питания
						p.what-item__descr Полноценный, сбалансированный, созданный лично для вас
					.what__item.what-item
						.what-item__ico
							img(src="/img/play-c.png", alt="старт")
						.what-item__name Видео-тренировки
						p.what-item__descr  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam minus explicabo inventore error quo
					.what__item.what-item
						.what-item__ico
							img(src="/img/24-7-c.png", alt="24/7")
						.what-item__name Консультация 24/7
						p.what-item__descr Задайте вопрос в любое время нашим экспертам: диетологу, тренеру и психологу!
	section.btn-block
		.container
			.btn-block__content
				.btn-block__btn-wrapper
					button.btn.btn-block__btn#openModal(type="button") Попробовать



	section.info-course#info-course
		.container
			h2.title информация о курсах
			.info-course__content
				.info-course__body
					.info-course__img
						img(src="/img/course-info-girl.png", alt="девушка")
					.info-course__list
						.info-course__item.info-course-item
							.info-course-item__num 1
							.info-course-item__name Разнообразие
							p.info-course-item__descr Вы можете выбрать любой наш курс. Что самое приятное, при продлении подписки вы можете сменить его! А если хочется остаться на старом - мы заменим вам 2 блюда в рационе на новые! Скоро будем выпускать новые курсы и планы питания. С нами не соскучишься! ;)
						.info-course__item.info-course-item
							.info-course-item__num 2
							.info-course-item__name Сервис
							p.info-course-item__descr Чат с диетологом, чат с тренером и общий чат с психологом - в вашем полном распоряжении. Наши эксперты всегда готовы прийти на помощь! 
						.info-course__item.info-course-item
							.info-course-item__num 3
							.info-course-item__name Доступность
							p.info-course-item__descr Мы предоставляем полноценные, отработанные инструменты, которые помогут каждой! Мы не считаем, что нужно делить наших участниц на VIP и не VIP персон
			.info-course__footnote Рады приветствовать тебя в семье FIT GO!
	section.btn-block
		.container
			.btn-block__content
				.btn-block__btn-wrapper
					button.btn.btn-block__btn#openModal(type="button") ПРИСОЕДИНИТЬСЯ


	section.nutrition#nutrition
		.container
			.nutrition__content
				.nutrition__info
					h2.title Питание и упражнения
					p.nutrition__subtitle.subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					.nutrition__list
						.nutrition__item.nutrition-item
							.nutrition-item__img
								img(src="/img/breakfast.png", alt="Завтрак")
							.nutrition-item__text Завтрак
						.nutrition__item.nutrition-item
							.nutrition-item__img
								img(src="/img/lunch.png", alt="Обед")
							.nutrition-item__text Обед
						.nutrition__item.nutrition-item
							.nutrition-item__img
								img(src="/img/afternoon.png", alt="Полдник")
							.nutrition-item__text Полдник
						.nutrition__item.nutrition-item
							.nutrition-item__img
								img(src="/img/dinner.png", alt="Ужин")
							.nutrition-item__text Ужин
				.nutrition__img
					img(src="/img/nutrition-girl.png", alt="Девушка")
	section.btn-block
		.container
			.btn-block__content
				.btn-block__btn-wrapper
					button.btn.btn-block__btn#openModal(type="button") Попробовать


	section.case#case
		.container
			.case__content
				h2.title мы уже знаем, что вам нужно
				.case__list
					.case__item.case-item
						.case-item__info
							.case-item__name Другой курс
							.case-item__list
								.case-item__item
									.case-item__ico
										img(src="img/course-circle.png", alt="круг")
									.case-item__text 1 из 4 программ на выбор
								.case-item__item
									.case-item__ico
										img(src="img/course-circle.png", alt="круг")
									.case-item__text 12 разных тренировок
								.case-item__item
									.case-item__ico
										img(src="img/course-circle.png", alt="круг")
									.case-item__text Консультации с тренером,диетологом и психологом
							.case-item__price 6 000 руб./мес
							button.btn.case-item__bt#openModal(type="button") ПОПРОБОВАТЬ
					.case__item.case-item.profit
						.case-item__info
							.case-item__name Ваш курс
							.case-item__list
								.case-item__item
									.case-item__ico
										img(src="img/course-circle.png", alt="круг")
									.case-item__text 1 из 4 программ на выбор
								.case-item__item
									.case-item__ico
										img(src="img/course-circle.png", alt="круг")
									.case-item__text 12 разных тренировок
								.case-item__item
									.case-item__ico
										img(src="img/course-circle.png", alt="круг")
									.case-item__text Связь 24/7 с тренером, диетологом и психологом
							.case-item__price 3 000 руб./мес
							button.btn.case-item__btn#openModal(type="button") ПОПРОБОВАТЬ
					.case__item.case-item
						.case-item__info
							.case-item__name Другой курс
							.case-item__list
								.case-item__item
									.case-item__ico
										img(src="img/course-circle.png", alt="круг")
									.case-item__text 1 из 4 программ на выбор
								.case-item__item
									.case-item__ico
										img(src="img/course-circle.png", alt="круг")
									.case-item__text 12 разных тренировок
								.case-item__item
									.case-item__ico
										img(src="img/course-circle.png", alt="круг")
									.case-item__text Консультации с тренером,диетологом и психологом
							.case-item__price 9 000 руб./мес
							button.btn.case-item__btn#openModal(type="button") ПОПРОБОВАТЬ
	section.null


	section.v-gallery#v-gallery
		.container
			h2.title Посмотрите видео и убедитесь сами
			.v-gallery__content
				.v-gallery__arrow.arrow
					.arrow__prev
						<svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.034 25.788a2.431 2.431 0 003.439-3.438L5.158 12.035a2.431 2.431 0 00-3.439 0L0 13.754l12.035 12.034z" fill="url(#paint0_linear)"/><path d="M15.473 5.158a2.431 2.431 0 10-3.439-3.439L0 13.754l1.72 1.719c.949.95 2.488.95 3.438 0L15.473 5.158z" fill="url(#paint1_linear)"/><defs><linearGradient id="paint0_linear" x1="6.877" y1="20.631" x2="32.517" y2="-5.009" gradientUnits="userSpaceOnUse"><stop stop-color="#F27A54"/><stop offset="1" stop-color="#A154F2"/></linearGradient><linearGradient id="paint1_linear" x1="6.877" y1="20.631" x2="32.517" y2="-5.009" gradientUnits="userSpaceOnUse"><stop stop-color="#F27A54"/><stop offset="1" stop-color="#A154F2"/></linearGradient></defs></svg>
					.arrow__next
						<svg width="17" height="26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.473.72a2.431 2.431 0 00-3.438 3.438L11.35 14.473c.95.95 2.489.95 3.438 0l1.72-1.72L4.473.72z" fill="url(#paint0_linear)"/><path d="M1.035 21.35a2.431 2.431 0 003.438 3.438l12.035-12.034-1.72-1.72a2.431 2.431 0 00-3.438 0L1.035 21.35z" fill="url(#paint1_linear)"/><defs><linearGradient id="paint0_linear" x1="9.631" y1="5.877" x2="-16.009" y2="31.517" gradientUnits="userSpaceOnUse"><stop stop-color="#F27A54"/><stop offset="1" stop-color="#A154F2"/></linearGradient><linearGradient id="paint1_linear" x1="9.631" y1="5.877" x2="-16.009" y2="31.517" gradientUnits="userSpaceOnUse"><stop stop-color="#F27A54"/><stop offset="1" stop-color="#A154F2"/></linearGradient></defs></svg>
				.v-gallery__list.js--slider
					.v-gallery__item
						.video
							.video__content
								.video__img
									img(src="/img/vg1.jpg" alt="превью")
								a.video__overlay.js--play-video(href="https://www.youtube.com/watch?v=NeNtRWaPT38")
									.video__ico.play__pulse
										+icon('play')
						.v-gallery__descr Lorem ipsum dolor...
					.v-gallery__item
						.video
							.video__content
								.video__img
									img(src="/img/vg2.jpg" alt="превью")
								a.video__overlay.js--play-video(href="https://www.youtube.com/watch?v=NeNtRWaPT38")
									.video__ico.play__pulse
										+icon('play')
						.v-gallery__descr Lorem ipsum dolor
					.v-gallery__item
						.video
							.video__content
								.video__img
									img(src="/img/vg3.jpg" alt="превью")
								a.video__overlay.js--play-video(href="https://www.youtube.com/watch?v=NeNtRWaPT38")
									.video__ico.play__pulse
										+icon('play')
						.v-gallery__descr Lorem ipsum dolor
					.v-gallery__item
						.video
							.video__content
								.video__img
									img(src="/img/vg3.jpg" alt="превью")
								a.video__overlay.js--play-video(href="https://www.youtube.com/watch?v=NeNtRWaPT38")
									.video__ico.play__pulse
										+icon('play')
						.v-gallery__descr Lorem ipsum dolor sit amet,
					.v-gallery__item
						.video
							.video__content
								.video__img
									img(src="/img/vg3.jpg" alt="превью")
								a.video__overlay.js--play-video(href="https://www.youtube.com/watch?v=NeNtRWaPT38")
									.video__ico.play__pulse
										+icon('play')
						.v-gallery__descr Lorem ipsum dolor sit amet, 
	section.btn-block
		.container
			.btn-block__content
				.btn-block__btn-wrapper
					button.btn.btn-block__btn#openModal(type="button") хочу также

	section.expert#expert
		.container
			h2.title Ваши эксперты
			.expert__subtitle.subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			.expert__content
				.expert__list
					.expert__item
						.expert__img
							img(src="/img/expert-1.jpg", alt="Эксперт")
						.expert__info
							.expert__name Имя Фамилия
							.expert__descr Биохимик-нутрициолог
					.expert__item
						.expert__img
							img(src="/img/expert-2.jpg", alt="Эксперт")
						.expert__info
							.expert__name Имя Фамилия
							.expert__descr Нутрициолог, спортсмен
				.expert__footnote
					span.expert__text.expert__text_strong Поддержка в социальных сетях:
					a.expert__social.expert__social_t.social(href="#")
						<svg width="45" height="45" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="" d="M22.5 45C34.926 45 45 34.926 45 22.5S34.926 0 22.5 0 0 10.074 0 22.5 10.074 45 22.5 45z" fill="#039BE5"/><path d="M10.296 22.012l21.693-8.364c1.007-.364 1.887.246 1.56 1.768l.002-.002-3.694 17.402c-.273 1.234-1.006 1.534-2.032.953L22.2 29.623l-2.713 2.614c-.3.3-.553.553-1.134.553l.399-5.724 10.425-9.419c.454-.399-.101-.624-.7-.226l-12.883 8.11-5.553-1.732c-1.206-.382-1.232-1.205.255-1.787z" fill="#fff"/></svg>
					a.expert__social.expert__social_w.social(href="#")
						<svg width="45" height="45" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.506 0h-.012C10.088 0 0 10.091 0 22.5c0 4.922 1.586 9.484 4.283 13.188L1.48 44.047l8.649-2.765A22.305 22.305 0 0022.506 45C34.912 45 45 34.906 45 22.5S34.912 0 22.506 0z" fill="#4CAF50"/><path d="M35.598 31.773c-.543 1.533-2.697 2.804-4.416 3.175-1.175.25-2.711.45-7.88-1.693-6.613-2.74-10.87-9.458-11.203-9.894-.317-.436-2.672-3.558-2.672-6.787s1.64-4.8 2.301-5.476c.543-.554 1.44-.807 2.3-.807.28 0 .53.014.755.025.66.028.992.068 1.428 1.111.543 1.308 1.865 4.537 2.022 4.869.16.332.321.782.096 1.218-.21.45-.396.65-.728 1.032-.332.382-.647.675-.98 1.085-.303.357-.646.74-.263 1.401.382.647 1.704 2.804 3.65 4.537 2.512 2.236 4.548 2.95 5.276 3.254.543.225 1.19.171 1.587-.25.503-.544 1.125-1.444 1.757-2.33.45-.635 1.019-.714 1.615-.489.607.211 3.822 1.8 4.483 2.13.66.331 1.097.489 1.257.767.158.279.158 1.586-.385 3.122z" fill="#FAFAFA"/></svg>
					span.expert__text а также в 
						span.expert__text.expert__text_strong нашем приложении 
						| и там где Вам удобно 
						span.expert__text.expert__text_strong 24/7
	section.btn-block
		.container
			.btn-block__content
				.btn-block__btn-wrapper
					button.btn.btn-block__btn#openModal(type="button") попробовать

	section.modal.js--modal
			.modal__content
				.modal__close
					button.close-btn.js--modal-close(type="button")
				.modal__name Оставьте заявку
				form.form(enctype="multipart/form-data" action="#" method="post")
					.form__input-wrapper
						input.input(type="text", placeholder="Ваше имя*" name="name" required)
					.form__input-wrapper
						input.input(type="text" placeholder="Номер телефона*", name="phone" required)
					.form__input-wrapper
						input.input(type="mail" placeholder="E-mail", name="location")
					.form__btn-wrapper
						button.btn.form__btn(type="submit") отправить





				






			

















