.footer{
	padding-top: 98px;
	padding-bottom: 70px;
	&__content {
		display: flex;
		margin-bottom: 9px;
	}
	&__logo {
		margin-right: auto;
	}
	&__menu {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		&_col {
			.menu__list {
				flex-direction: column;
				.menu__item {
					padding-top: 0;
					margin-bottom: 10px;
					margin-right: 0;
				}
			}
			.menu__list:first-child {
				margin-right: 175px;
			}
		}
	}
	&__contact {
		margin-left: auto;
	}
	&__info {
		display: flex;
		justify-content: flex-end;
	}
	&__phone {
		margin-right: 50px;
	}
}

.phone {
	display: flex;
	&__link {
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		color: #979797;
	}
	&__ico {
		margin-right: 15px;
	}
}

.site-link {
	display: flex;
	position: relative;
	&__link {
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		display: flex;
		align-items: center;
		color: #979797;
	}
	&__ico {
		margin-right: 15px;
	}
}


@media (max-width: 1100px) {
	.footer {
		&__content {
			margin-bottom: 20px;
		}
		&__info {
			justify-content: center;
		}
	}
}


@media (max-width: 576px) {
	.footer {
		padding-top: 50px;
		padding-bottom: 50px;
		&__logo {
			margin-right: 0;
			margin-bottom: 20px;
		}
		&__content {
			flex-direction: column;
			align-items: center;
		}
	}
	.phone {
		&__link {
			font-size: 12px;
		}
	}
}