.header {
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
	z-index: 999;
	&__content {
		display: flex;
		align-items: center;
		height: 90px;
	}
	&__logo {
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	&__menu {
		margin-left: auto;
	}
	&__auth {
		margin-left: auto;
	}
	&__mobile {
		display: none;
		flex-shrink: 0;
		width: 54px;
		height: 54px;
		background-color: transparent;
		border-radius: 50%;
		box-shadow: 1px 1px 10px rgba(0,0,0,.4);
		position: relative;
		margin-left: auto;
		margin-right: auto;
		border: none;
		user-select: none;
		outline: none !important;
		text-decoration: none;
		transition: all .4s ease;
		z-index: 20;
		span,
		span:before,
		span:after {
			display: block;
			height: 2px;
			width: 34px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -0px;
			margin-left: -17px;
			background-color: #F27A54;
			transform: translateY(-50%);
		}
		span:before {
			transition: all 0.2s;
			content: '';
			margin-top: -6px;
		}
		span:after {
			transition: all 0.2s;
			content: '';
			margin-top: 6px;
		}
		&_active {
			span {
				background-color: transparent;
				&:before {
					margin-top: 0;
					transform: rotate(135deg);
				}
				&:after {
					margin-top: 0;
					transform: rotate(-135deg);
				}
			}
		}
	}
}

.menu {
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		&_inline {
			flex-direction: row;
		}
	}
	&__item {
		position: relative;
		list-style: none;
		padding-top: 7px;
		padding-bottom: 7px;
		opacity: 0.5;
		&:not(:last-child) {
			margin-right: 36px;
		}
		&:hover {
			opacity: 1;
		}
		&_status_active {
			opacity: 1;
			padding-bottom: 0;
			border-bottom: 2px solid;
			border-image: linear-gradient(90deg, #F27A54 0%, #A154F2 186.42%) 1;
		}
	}
	&__link {
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: #000000;
	}
}

.auth {
	display: flex;
	align-items: center;
	&__text {
		margin-right: 32px;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: #000000;
	}
	&__btn {
		padding: 0;
		background-color: #fff;
		border-radius: 50%;
		background: none;
		width: auto;
		height: auto;
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
		&:hover {
			box-shadow: none;
		}
	}
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}


@media (max-width: 1200px) {
	.menu {
		&__item {
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
	}
	.auth {
		&__text {
			display: none;
		}
	}
}

@media (max-width: 768px) {
	.header {
		&__menu {
			display: block;
			margin: 0;
			padding: 0;
		}
		&__mobile {
			display: block;
		}
	}

	.menu {
		&__list {
			display: none;
			position: absolute;
			background-color: #ffffff;
			justify-content: flex-start;
			flex-direction: column;
			overflow: scroll;
			top: 90px;
			left: 0;
			width: 100%;
			height: calc(100vh - 90px);
			margin: 0;
			padding: 0;
			z-index: 100;
		}
	}

	.menu {
		&__item {
			margin-right: 0px;
			display: block;
			margin: 0;
			width: 100%;
			padding: 20px 15px;
			border: 1px solid #fff;
			background-color: #f1f1f1f1;
			&_status_active {
				border-image: linear-gradient(90deg, #F27A54 0%, #A154F2 186.42%) 1;
			}
		}
		&__link {
			display: block;
			font-size: 20px;
			width: 100%;
			text-align: center;
			&:hover {
				color: orange;
				border-bottom: 0px;
			}
		}
	}
	.auth {
		&__btn {
			margin-left: 50px;
		}
	}
}